/* Write your CSS here */
li {
  list-style: none;
}
.no-active {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 10px;
}
.active {
  border: 1px solid #0284c7;
  color: #0284c7;
  border-radius: 10px;
}
